.App {
  text-align: center;
  -moz-user-select: none; /* Mozilla Firefox */
-ms-user-select: none; /* Internet Explorer (не поддерживается) */
-o-user-select: none; /* Opera Presto (не поддерживается) */
-webkit-user-select: none; /* Google Chrome, Opera Next, Safari */
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color:white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #282c34;
}

.App-link {
  color: #09d3ac;
}

.originalWord{
  font-size: 4.4em;
}

.translatedWord {
  color: #cccccc;
}